/* theme list item */

.container {
  width: 90%;
  margin: auto;
  padding-bottom: 4.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.theme-container a {
  text-decoration: none;
  color: inherit;
}

.theme-container span {
  font-weight: bold;
}

.theme-container h2,
p {
  padding: 0.3em 0 0.2em;
  margin: 0;
}
.theme-container h2 {
  padding: 0.3em 0 0.2em;
  margin: 0;
  background-color: #234465;
  color: white;
  text-shadow: 1px 1px rgb(121, 117, 117);
  border-radius: 10px;
}
.theme-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.5em;
  border: 1px solid #999;
  border-radius: 0.3em;
  font-size: 0.8em;
  margin-top: 1em;
  background-color: #ff9d00d7;
}

.theme-title {
  padding: 0;
}

.theme-name {
  width: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  color: white;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.subscribers {
  text-align: right;
  flex-basis: 25%;
}

.subscribers button {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  width: 100%;
}

.subscribe {
  background-color: green;
}

.unsubscribe {
  background-color: red;
}

time {
  font-weight: bold;
}

/* from Home */
/* welcome component */

.welcome {
  padding: 0.5em 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
  font-size: 0.9em;
  margin-top: 1em;
  background-color: #e4e3e3; /* Matches body background */
}

.welcome h3 {
  background-color: #234465;
  color: white;
  text-shadow: 1px 1px rgb(43, 42, 42);
  border-radius: 0.5em;
  width: 100%;
  padding: 0.5em 1.2em;
  text-align: center;
}

.welcome p {
  padding: 1em;
  border-bottom: 1px solid #999;
  font-style: italic;
  color: #333; /* Darker text for readability */
}

.welcome a {
  color: white;
  text-decoration: none;
  background-color: #ff9f00;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  margin: 1em;
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px rgb(87, 86, 86);
  transition: transform 0.3s ease;
}

.welcome a:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.welcome ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 1.5em 0;
}

.welcome li {
  list-style: none;
  font-size: 1em;
  color: #234465;
}
