<form class="register" action="" method="post" (ngSubmit)="onSubmit()">
  <fieldset>
    <h2>Registration Form</h2>

    <!-- username -->
    <p class="field field-icon">
      <label for="username"
        ><span><i class="fas fa-user"></i></span
      ></label>
      <input
        [class.input-erro]="usernameError"
        type="text"
        name="username"
        id="username"
        placeholder="Johny"
        [(ngModel)]="username"
        (blur)="validateUsername()"
      />
    </p>
    @if (usernameError) {
    <p class="error">{{ usernameErrorMessage }}</p>
    }

    <!-- email -->
    <p class="field field-icon">
      <label for="email"
        ><span><i class="fas fa-envelope"></i></span
      ></label>
      <input
        [class.input-error]="emailError"
        type="email"
        name="email"
        id="email"
        placeholder="john.doe@gmail.com"
        [(ngModel)]="email"
        (blur)="validateEmail()"
      />
    </p>
    @if (emailError) {
    <p class="error">{{ emailErrorMessage }}</p>
    }

    <!-- telephone -->
    <p class="field field-icon">
      <label for="tel"
        ><span><i class="fas fa-phone"></i></span
      ></label>
      <select name="select-tel" id="select-tel" class="tel">
        <option value="00359">+359</option>
      </select>
      <input
        [class.input-error]="phoneError"
        type="text"
        name="tel"
        id="tel"
        placeholder="885 888 888"
        [(ngModel)]="phone"
        (blur)="validatePhone()"
      />
    </p>
    @if (phoneError) {
    <p class="error">{{ phoneErrorMessage }}</p>
    }

    <!-- password -->
    <p class="field field-icon">
      <label for="password"
        ><span><i class="fas fa-lock"></i></span
      ></label>
      <input
        [class.input-error]="passwordError"
        type="password"
        name="password"
        id="password"
        placeholder="******"
        [(ngModel)]="password"
        (blur)="validatePassword()"
      />
    </p>
    @if (passwordError) {
    <p class="error">{{ passwordErrorMessage }}</p>
    }

    <!-- rePassword -->
    <p class="field field-icon">
      <label for="rePassword"
        ><span><i class="fas fa-lock"></i></span
      ></label>
      <input
        [class.input-error]="rePasswordError"
        type="password"
        name="rePassword"
        id="rePassword"
        placeholder="******"
        [(ngModel)]="rePassword"
        (blur)="validateRePassword()"
      />
    </p>
    @if (rePasswordError) {
    <p class="error">{{ rePasswordErrorMessage }}</p>
    }

    <button [disabled]="!isFormValid">Create Account</button>

    <p class="text-center">
      Have an account?
      <a routerLink="/login">Log In</a>
    </p>
  </fieldset>
</form>
