<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Home Cooking Recipes | {{pageTitle}}</title>
        <link rel='stylesheet' href='/styles/styles.css' />
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    {{! All User }}
                    <li><a href='/'>Home</a></li>
                    <li><a href='#'>Recipes</a></li>
                    <li><a href='#'>Search</a></li>
                    {{#if user}}
                        {{! Users }}
                        <li><a href='#'>Add Recipe</a></li>
                        <li><a href='/auth/logout'>Logout</a></li>
                    {{else}}
                        {{! Guests }}
                        <li><a href='/auth/login'>Login</a></li>
                        <li><a href='/auth/register'>Register</a></li>
                    {{/if}}

                </ul>
            </nav>
        </header>
        <main>
            <!-- In case of error, you should display div with class "error-container" -->
            <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
            {{#if error}}
                <div class='error-container'>
                    <p>{{error}}</p>
                </div>
            {{/if}}

            {{{body}}}

        </main>
        <footer>
            <p>&copy; 2024 Home Cooking Recipes. All rights reserved.</p>
        </footer>
    </body>

</html>