<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Page</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Power of Nature</a></li>
                <li><a href="#">Create Event</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

        <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

        <section class="catalog">
            <h1 id="title"><span>Power of Nature</span></h1>
            <div class="item-list">
                <div class="event">
                    <div class="img">
                        <img src="https://assets.editorial.aetnd.com/uploads/2018/10/1-tsunami-51915383.jpg">
                    </div>
                    <div class="event-info">
                        <h1>Hurricane Katrina</h1>
                        <p><span>Location: </span>Gulf Coast of the United States</p>
                        <p><span>Type: </span>Hurricane</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="event">
                    <div class="img">
                        <img
                            src="https://static.scientificamerican.com/sciam/cache/file/2AE37833-55E8-4973-85CFC20E82A23A45_source.jpg">
                    </div>
                    <div class="event-info">
                        <h1>Haiti Earthquake</h1>
                        <p><span>Location: </span>Haiti</p>
                        <p><span>Type: </span>Earthquake</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>

            </div>
            <!-- <div class="no-event">
                <p>There are no events found yet!</p>
            </div> -->
        </section>
    </main>

    <footer>
        <p>&copy JS Back-End 2025</p>
    </footer>
</body>

</html>