<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link rel="stylesheet" href="./static/css/styles.css" />
</head>

<body>

    <header class="header">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Power of Nature</a></li>
                <li><a href="#">Create Event</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

        <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

        <section id="create-container">
            <div class="create-container-info">
                <h1>Edit Event</h1>
                <form action="#" method="">
                    <label>Name of the Disaster:</label>
                    <input type="text" id="name" name="" placeholder="..." value="2004 Indian Ocean Earthquake and Tsunami">
                    <label>Type of Disaster:</label>
                    <select id="type" name="">
                        <option value="Wildfire">Wildfire</option>
                        <option value="Flood">Flood</option>
                        <option value="Earthquake" selected >Earthquake</option>
                        <option value="Hurricane">Hurricane</option>
                        <option value="Drought">Drought</option>
                        <option value="Tsunami">Tsunami</option>
                        <option value="Other">Other</option>
                    </select>
                    <label>Year of the Event:</label>
                    <input type="number" id="elevations" name="" placeholder="..." value="2004">
                    <label>Location:</label>
                    <input type="text" id="location" name="" placeholder="..." value="Indian Ocean, including Indonesia, Thailand, Sri Lanka, India, and others.">
                    <label>Image:</label>
                    <input type="text" id="image" name="" placeholder="http://..." value="http://...">
                    <label>Description:</label>
                    <textarea id="description" name="" placeholder="...">A massive undersea earthquake with a magnitude of 9.1-9.3 struck off the west coast of northern Sumatra, Indonesia, triggering a series of devastating tsunamis. Cause (if known): Sudden rupture along the fault between the Burma Plate and the Indian Plate. Duration of the Event: The earthquake lasted approximately 8-10 minutes; tsunamis followed shortly after.</textarea>
                    <input type="submit" id="btn" value="Submit"></input>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy JS Back-End 2025</p>
    </footer>
</body>

</html>