        <section id="create-container">
            <div class="create-container-info">
                <h1>Create Event</h1>
                <form action="#" method="">
                    <label>Name of the Disaster:</label>
                    <input type="text" id="name" name="" placeholder="...">
                    <label>Type of Disaster:</label>
                    <select id="type" name="">
                        <option value="Wildfire">Wildfire</option>
                        <option value="Flood">Flood</option>
                        <option value="Earthquake">Earthquake</option>
                        <option value="Hurricane">Hurricane</option>
                        <option value="Drought">Drought</option>
                        <option value="Tsunami">Tsunami</option>
                        <option value="Other">Other</option>
                    </select>
                    <label>Year of the Event:</label>
                    <input type="number" id="year" name="" placeholder="...">
                    <label>Location:</label>
                    <input type="text" id="location" name="" placeholder="...">
                    <label>Image:</label>
                    <input type="text" id="image" name="" placeholder="http://...">
                    <label>Description:</label>
                    <textarea id="description" name="" placeholder="..."></textarea>
                    <input type="submit" id="btn" value="Submit"></input>
                </form>
            </div>
        </section>
